* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --blue: rgb(74, 123, 187);
  --blueHover: rgb(60, 104, 161);
  --white: white;
}
body {
  font-size: 2rem;
}
a {
  text-decoration: none;
  color: inherit;
}
/*----------------------------PRELOADING-----------------------------------------*/
.preloader {
  transition: 0.5s;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(25, 27, 34);
}
.preloader.animate {
  animation: vanish 0.5s;
  visibility: hidden;
}
@keyframes vanish {
  100% {
    opacity: 0;
  }
}
/*----------------------------loader ring---------------------*/
.lds-dual-ring {
  width: 80px;
  height: 80px;
}
.lds-dual-ring:before {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------------------------*/
.container {
  max-width: 1400px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  padding: 0 10px;
}
aside {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main .topMain {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.topMain h1 {
  font-size: 3rem;
  padding-left: 10px;
}
main .topMain a {
  padding: 20px;
  background-color: var(--blue);
  color: var(--white);
  transition: 0.3s;
}
main .topMain a:hover {
  background-color: var(--blueHover);
}
.msjesEnviados {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}

.msjeIndividual {
  background-color: var(--blue);
  color: var(--white);
  padding: 10px;
  width: 50%;
  font-size: 2.5rem;
  word-break: break-all;
}
.msjeIndividual .metaInfo {
  letter-spacing: 1px;
  font-size: 1.5rem;
  color: rgb(221, 207, 207);
  font-style: italic;
}
.msjeIndividual.dcha {
  align-self: flex-end;
}
.msjeIndividual.MENSAJEADMIN {
  color: black;
  background-color: rgb(168, 161, 161);
}
#chatForm {
  padding-bottom: 40px;
  width: 100%;
  display: flex;
}
#chatForm input,
#chatForm textarea,
.introForm input[type="text"] {
  /* width: 100%; */
  font-size: 2rem;
}
#chatForm textarea {
  flex: 1;
}

#chatForm input[type="submit"],
.introForm input[type="submit"] {
  padding: 10px;
  cursor: pointer;
  font-size: 2rem;
  background-color: var(--blue);
  color: white;
  border: 1px solid rgb(50, 128, 231);
  transition: 0.3s;
}
#chatForm input[type="submit"]:hover,
.introForm input[type="submit"]:hover {
  background-color: var(--blueHover);
}
textarea,
.introForm input[type="text"],
#chatRoomSelector {
  font-size: 1.5rem;
  padding: 10px;
  outline: none;
  border: none;
}
textarea:focus::placeholder {
  color: rgb(155, 160, 160);
}
/*-------------------------INTRO FORM---------------------------*/
.introForm {
  background-color: rgb(74, 123, 187);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 15vh;
  gap: 10px;
  padding: 30px 10px 30px;
  border-radius: 20px;
  width: 700px;
  margin: auto;
}
.introForm .formControl {
  display: flex;
  flex-direction: column;
}
.introForm input[type="submit"] {
  padding: 10px;
  background-color: rgb(197, 201, 206);
  color: rgb(26, 22, 22);
}
.introForm input[type="submit"]:hover {
  background-color: rgb(197, 201, 206);
  color: rgb(70, 65, 65);
}
/*----------------------------------------------------------*/
/* #chatRoomSelector {
} */
/*--------------------------------------------USERS ONLINE--------------*/
/* aside {
} */
#usersOnlineContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
aside section {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#chatRoomsSection {
  flex: 1;
}
/*-------------------------------------------PONER ACA EL EDIT DEL SCROLL BAR ------------------------------------------------*/
#usersOnlineContainer,
#chatRoomsContainer {
  overflow-y: scroll;
  flex: 1;
}
#usersOnlineContainer .userOnline {
  display: flex;
  align-items: center;
  gap: 20px;
}

#usersOnlineContainer .userOnline i {
  background-color: rgb(85, 138, 207);
  color: white;
  padding: 10px;
  border-radius: 50%;
  position: relative;
}
.onlineActiveBadge {
  background-color: rgb(100, 216, 100);
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  border-radius: 50%;
}
/*---------------------------------------------*/
section#chatRoomsSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#chatRoomsContainer {
  display: flex;
  flex-direction: column;
}
#chatRoomsContainer .roomChat:hover {
  background-color: rgb(197, 191, 191);
  transition: 0.3s;
  cursor: pointer;
}
#chatRoomsContainer .roomChat a {
  display: block;
  padding: 25px 10px;
  z-index: 10;
}
.roomChat i.fa-users {
  position: relative;
  margin-left: 30px;
}
.roomChat i.fa-users span {
  position: absolute;
  top: -20px;
  right: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  background-color: crimson;
  color: white;
}
.roomChat#currentRoom {
  background-color: rgb(211, 240, 197);
}
/*------------------------------------------------------------*/
@media only screen and (max-width: 800px) {
  .container {
    max-width: 1400px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
  }
  aside {
    background-color: var(--blue);
    color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    flex: 0;
    height: 70px;
  }
  aside section {
    flex: 1;
    position: relative;
    transition: 0.3s;
  }
  #usersOnlineContainer,
  #chatRoomsContainer {
    display: none;
  }
  aside section .relativeTitles {
    height: 100%;
    display: flex;
    align-items: center;
  }
  aside section:hover #chatRoomsContainer {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--blue);
  }
  aside section:hover #usersOnlineContainer {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--blue);
    width: 100%;
  }

  main {
    margin-top: 80px;
    flex: 6;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
